.form{
    font-style: oblique;
    position: relative;
    left: 195px;
    bottom: 62px;
   
}
h2{
    color: white;
}
h4{
    color:white;
}
i{
    position: relative;
    left: 100px;
    bottom: 35px;
}
.fa-solid{
    position: relative;
    left: 110px;
}
.header{
    text-align: center;
    margin-top: 0px;
    border: 1px solid rgb(8, 39, 8);
    height: 50px;
    background-color:darkgreen;
    padding: 10px 0px;
}
.bank{
    position: relative;
    right: 100px;
}
.content{
    margin-top: 30px;
}
label{
    font-size: large;
}
.dot{
    position: relative;
    top: 20px;
    text-align: center;
    font-size: 70px;
}
.container{
    border: 1px solid transparent;
    background-color: lightgreen;
    background: linear-gradient(70deg, lightgreen, white);
    
}